.logo {
    margin-right: 20px;
}

.login-form, .register-form {
    max-width: 450px;
}

.explorer tr[data-directory="true"] {
    cursor: pointer;
}

.explorer td:first-child {
    width: 50%;
    min-width: fit-content;
}

.filtered {
    display: none;
}

.file-icon {
    width: 20px;
    height: 20px; 
    background: transparent url('../img/file.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
}

.directory-icon {
    width: 20px;
    height: 21px;
    display: flex;
    background: transparent url('../img/folder.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
}

.upload-file-icon, .create-folder-icon {
    width: 20px;
    height: 21px;
    margin-right: 10px;
}

.upload-file-icon {
    background: transparent url('../img/upload.svg') no-repeat center;
    background-size: contain;
}

.create-folder-icon {
    background: transparent url('../img/add-folder.svg') no-repeat center;
    background-size: contain;
}

.download-icon {
    width: 20px;
    height: 21px;
    margin-right: 10px;
    background: transparent url('../img/download.svg') no-repeat center;
    background-size: contain;
}

.file-info ul {
    padding: 0;
}

.file-info ul li {
    list-style-type: none;
}

.file-info-img {
    width: 100%;
}

.file-info-img img {
    max-height: 160px;
    margin: 10px 0;
}

.blackout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.blackout-active {
    display: block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    z-index: 20;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.popup-active {
    display: flex;
}

.upload-popup {
    max-width: 450px;
}

.back-folder-button-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: transparent url('../img/back-folder.svg') no-repeat center;
    background-size: contain;
    margin-right: 10px;
}

.table-responsive {
    max-height: 50vh;
}