{{>header }}

<main class="main">
    {{#if isAuthorized}}
        <h1 class="text-center py-3">Failed to download {{file}} file</h1>
    {{else}}
        <h1 class="text-center py-3">You're not authorized. <a href="/login">Login</a> please and try again.</h1>
    {{/if}}
</main>

{{>footer }}