{{>header }}

<main class="main">
    <div class="container">
        {{#if isAuthorized}}
        <h2 class="text-center my-3 page-title"><b>{{username}}</b> files (Empty <span class="empty">{{empty}}</span> from <span class="explorer-size">{{explorerSize}}</span>)</h2>
        <div class="breadcrumbs my-3 border-top border-bottom py-1">{{ file.path }}</div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-start">
                <div class="explorer-navigation">
                    <button class="btn btn-light back-folder-button d-flex align-items-center">
                        <span class="back-folder-button-icon"></span>
                        Back
                    </button>
                </div>
                <div class="explorer-search mx-3">
                    <div class="input-group align-items-center">
                        <label class="bg-light form-control" for="explorer-search">Search files:</label>
                        <input type="search" class="form-control" name="explorer-search" id="explorer-search">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <div class="explorer-functions d-flex align-items-center  justify-content-end">
                    <button class="btn btn-light create-folder-button d-flex align-items-center mx-2">
                        <span class="create-folder-icon"></span>
                        Create folder
                    </button>
                    <button class="btn btn-light upload-file-button d-flex align-items-center">
                        <span class="upload-file-icon"></span>
                        Upload file
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="table-responsive">
                    {{>explorer_table}}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="file-info p-3">
                    <h4>Selected file information</h4>
                    <div class="file-info-img d-flex align-items-center justify-content-center">
                        <img src="/img/file.svg" alt="file-thumbnail">
                    </div>
                    <ul>
                        <li>Name: <span class="value"></span></li>
                        <li>Type: <span class="value"></span></li>
                        <li>Size: <span class="value"></span></li>
                        <li>Created: <span class="value"></span></li>
                        <a class="btn btn-primary py-1 mt-2 download-button d-inline-flex align-items-center" href="#">
                            <span class="download-icon"></span>
                            Download
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        {{else}}
            <h2 class="text-center my-3">Welcome to File Manager</h2>
            <p class="text-center"><a href="/login">Login</a> or <a href="/register">Register</a> to manage your cloud files.</p>
        {{/if}}
    </div>
</main>

<div class="popup folder-popup">
    <h3>Create a new folder</h3>
    <input class="form-control my-3" type="text" placeholder="New folder name" name="new-folder-name" id="new-folder-name">
    <div>
        <button class="btn btn-dark my-3 create-new-folder-btn">Create a new folder</button>
        <button class="btn btn-secondary my-3 cancel-new-folder-btn">Cancel</button>
    </div>
</div>
<div class="blackout folder-popup-blackout"></div>

<div class="popup upload-popup">
    <h3>Upload file to the cloud</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="my-3" for="exampleFormControlFile1">Select file to upload</label>
            <input type="file" class="form-control-file" id="upload-file">
            <button class="btn btn-dark my-3 upload-file-btn">Upload file</button>
            <button class="btn btn-secondary my-3 cancel-upload-file-btn">Cancel</button>
        </div>
    </form>
</div>
<div class="blackout upload-popup-blackout"></div>

<script src="js/explorer.js"></script>

{{>footer }}