{{>header }}

<main class="main">
    <div class="container">
        {{#if isAuthorized}}
            <h2 class="text-center my-3">Welcome to File Explorer, <b>{{username}}</b>!</h2>
            <p class="text-center">You're successfully logged in. Now you can <a href="/explorer?path=/">explore</a> your files.</p>
        {{else}}
            <h2 class="text-center my-3">Welcome to File Manager</h2>
            <p class="text-center"><a href="/login">Login</a> or <a href="/register">Register</a> to manage your cloud files.</p>
        {{/if}}
    </div>
</main>

{{>footer }}