{{>header }}

<main class="main">
    <div class="container">
        {{#if isAuthorized }}
        <h2 class="text-center my-3">You're already logged in</h2>
        {{else}}
        <h2 class="text-center my-3">Login to File Manager</h2>
            <form class="mb-3 w-100 mx-auto login-form">
                <label for="user-email" class="form-label">Email address</label>
                <input
                    type="email"
                    class="form-control"
                    id="user-email"
                    name="user-email"
                    placeholder="name@example.com"
                    autocomplete="true"
                />
                <label for="user-password" class="col-sm-2 col-form-label">Password</label>
                <input type="password" class="form-control" id="user-password" name="user-password" autocomplete="true"/>
                <button class="btn btn-primary mt-3 login-button" type="submit">Login</button>
                <a class="btn btn-light mt-3 register-button" href="/register">Register</a>
            </form>
        {{/if}}
    </div>
</main>

<script src="/js/login.js"></script>
{{>footer }}