{{>header }}

<main class="main">
    <div class="container">
        {{#if isAuthorized}}
        <h2 class="text-center my-3">You're already logged in</h2>
        <p class="text-center">Logout to create a new account</p>
        {{else}}
        <h2 class="text-center my-3">Register</h2>
        <form class="mb-3 w-100 mx-auto register-form" autocomplete="off">
            <label for="user-email" class="form-label">Email address</label>
            <input
                type="email"
                class="form-control"
                id="user-email"
                name="user-email"
                placeholder="name@example.com"
                autocomplete="true"
            />
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="johndoe2021" autocomplete="true"/>
            <label for="user-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="user-password" name="user-password" autocomplete="new-password"/>
            <label for="user-password-confirmation" class="form-label">Password confirmation</label>
            <input type="password" class="form-control" id="user-password-confirmation" name="user-password-confirmation" autocomplete="false"/>
            <button class="btn btn-primary mt-3 login-button" type="submit">Register</button>
            <a class="btn btn-light mt-3 register-button" href="/login">Login</a>
        </form>
        {{/if}}
    </div>
</main>

<script src="/js/register.js"></script>

{{>footer }}