{{>header }}

<main class="main">
    <div class="container">
        <h2 class="text-center my-3">Your sesion expired</h2>
        <p class="text-center"><a href="/login">Login</a> or <a href="/register">Register</a> to continue.</p>
    </div>
</main>

<script src="js/session_expired.js"></script>

{{>footer }}