<table class="table table-light table-hover table-striped my-3 explorer" 
    data-id="{{userId}}"
    data-username="{{username}}"
    data-empty="{{empty}}"
    data-explorer-size="{{explorerSize}}">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody data-parent={{parentPath}}>
        {{#if file}}
            {{#if file.isFile}}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="file-icon d-flex align-items-center"></span>
                            <span class="file-name d-flex align-items-center">{{file.fileName}}</span>
                        </div>
                    </td>
                    <td>{{file.type}}</td>
                    <td>{{file.size}} B</td>
                    <td>{{file.created}}</td>
                </tr>
            {{else}}
                {{#each file.files}}
                    {{#if this.isFile}}
                        <tr data-file={{this.explorerPathUrl}} data-directory="false">
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="file-icon d-flex align-items-center"></span>
                                    <span class="file-name d-flex align-items-center">{{this.fileName}}</span>
                                </div>
                            </td>
                            <td>{{this.type}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.created}}</td>
                        </tr>
                    {{else}}
                    <tr data-file={{this.explorerPathUrl}} data-directory="true">
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="directory-icon d-flex align-items-center"></span>
                                <span class="directory-name d-flex align-items-center">{{this.fileName}}</span>
                            </div>
                        </td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {{/if}}
                {{else}}
                    <tr>
                        <td colspan="4">{{file.fileName}} is empty!</td>
                    </tr>
                {{/each}}
            {{/if}}
        {{else}}
            <tr>
                <td colspan="4">Your explorer is empty!</td>
            </tr>
        {{/if}}
    </tbody>
</table>
