    <footer class="footer mt-auto bg-light py-3">
      <div class="container">
        <p class="text-muted text-center m-0">File Manager | Andrey Borysenko © 2021</p>
      </div>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>
