<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="d-flex flex-column h-100">

    <header class="header">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="header-title d-flex align-items-center">
          <a href="/" class="d-flex my-3 justify-content-center">
            <img class="logo" src="/img/logo.png" alt="logo" width="48" height="48">
          </a>
          <h1 class="text-center py-3">File Manager</h1>
        </div>
        <div class="auth-block">
          {{#unless isAuthorized}}
            <a class="mx-3" href="/login">Login</a>
          {{/unless}}
          {{#if isAuthorized}}
            <a class="logout-link" href="/logout">Logout</a>
          {{/if}}
        </div>
      </div>
    </header>